.container {
  padding-left: 16vw;
  padding-right: 15vw;

  @media (max-width: $tablet) {
    padding-left: 2.7vw;
    padding-right: 2.7vw;
  }

  @media (max-width: $mobile) {
    padding-left: 2.2%;
    padding-right: 2.3%;
  }
}
