.first-screen {
  color: $white;
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: $blue;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-main@2x.jpg");
  }

  @media (max-width: $tablet) {
    margin: 0 auto;
    display: block;
  }

  @media (max-width: $mobile) {
    background: none;
  }
  // @media (max-width: $tablet) {
  //   width: 100%;
  //   display: block;
  //   background-image: url("../img/background-main-tablet.jpg");

  //   @media (min-resolution: 2dppx) {
  //     background-image: url("../img/background-main-tablet@2x.jpg");
  //   }
  // }

  // @media (max-width: $mobile) {
  //   background-image: url("../img/background-main-mobile.jpg");

  //   background-color: transparent;

  //   @media (min-resolution: 2dppx) {
  //     background-image: url("../img/background-main-mobile@2x.jpg");
  //   }
  // }

  @media (max-width: $mobile) {
    display: block;
  }
}

.first-screen__caption {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;

  @media (max-width: $tablet) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile) {
    font-size: 24px;
    background-color: $blue;
    line-height: 36px;
    padding-top: 60px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-image: url("../img/background-main-mobile.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-main-mobile@2x.jpg");
    }
  }
}

.first-screen__wrapper {
  grid-column-start: 4;
  grid-column-end: 5;
  padding-top: 185px;
  padding-bottom: 296px;

  @media (max-width: $tablet) {
    width: 56vw;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 83px;
    margin: 0 auto;
  }

  @media (max-width: $mobile) {
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.first-screen__block {
  font-size: 16px;
  line-height: 27px;
  margin: 0;
  padding-top: 30px;
  font-weight: 400;

  @media (max-width: $mobile) {
    color: $dark;
    padding-top: 20px;
  }
}

.first-screen__button {
  padding: 30px 30px 30px 40px;
  display: flex;
  justify-content: space-between;
  width: 17.7vw;
  margin: 40px auto 0 auto;

  @media (max-width: $tablet) {
    padding: 19px 18px 19px 40px;
    width: 32.5vw;
  }

  @media (max-width: $mobile) {
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
