.modal-window__active {
  display: flex;
  width: 100vw;
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  visibility: visible;
  position: absolute;
  opacity: 1;
  z-index: 4;

  @media (max-width: $tablet) {
    margin-left: 0;
    width: 100vw;
  }
}

.modal-window__inactive {
  visibility: hidden;
  display: none;
}

.modal-window__img {
  width: 338px;

  @media (max-width: 767px) {
    position: absolute;
    z-index: -1;
    width: 100vw;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.modal-window__active .overlay {
  box-sizing: content-box;
  background-color: rgba(59, 67, 76, 0.9);
  width: 100%;
  height: 100%;

  padding: inherit;
  padding-left: 32vw;
  padding-right: 32vw;
  display: flex;
  margin: 0 auto;
  padding-top: 300px;
  padding-bottom: 800px;

  @media (max-width: $tablet) {
    padding-left: 12.8vw;
    padding-right: 12.8vw;
  }
}

.modal-window__form {
  padding: 60px 72px 100px 72px;
  background-color: $background-modal;
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/icons/modal-cross.svg");
    position: absolute;
    width: 22px;
    height: 22px;
    z-index: 1;
    top: 20px;
    right: 20px;
  }

  @media (max-width: 767px) {
    z-index: 1;
    left: 33vw;
    position: relative;
  }

  @media (max-width: $mobile) {
    left: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
  }
}

.modal-window__legend {
  text-align: center;
  font-size: 25px;
  line-height: 42px;
  font-weight: 600;
  padding-bottom: 50px;
  display: block;
}

.modal-window__input {
  padding: 15px 15px 15px 50px;
  border: 1px solid $border-grey;

  &::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: $black-list;
    background-color: $white;
  }

  &--email {
    padding-left: 15px;
    padding-right: 50px;
  }

  @media (max-width: $mobile) {
    padding-right: 70px;

    &--email {
      padding-right: 103px;
    }
  }
}

.modal-window__fieldset {
  padding-bottom: 20px;

  @media (max-width: $mobile) {
    margin: 0 auto;
    width: 90vw;
  }
}

.modal-window__imgs {
  position: absolute;
  top: 2px;
  left: 14px;
  z-index: 1;
}

.modal-window__phone {
  position: relative;
}

.modal-window__seven {
  position: relative;
  stroke: $extra-dark;
  margin-top: 19px;
}

.modal-window__button {
  padding: 18px 40px;
  margin: 0 auto;
  display: block;

  @media (max-width: $mobile) {
    width: 90vw;
  }
}
