.places-visit {
  padding-top: 200px;

  @media (max-width: $tablet) {
    padding-top: 80px;
    text-align: center;
  }

  @media (max-width: $mobile) {
    padding-top: 108px;
  }
}

.places-visit__span {
  padding-top: 17px;
  background-color: $white;
  display: block;
  text-align: center;
  min-height: 63px;
  font-size: 24px;
  padding-bottom: 17px;
  color: $dark;
  top: auto;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 20%;
  right: 20%;

  @media (max-width: $tablet) {
    min-height: 62px;
    padding-bottom: 0;
  }

  @media (max-width: $mobile) {
    margin-right: auto;
    margin-left: auto;
  }
}

.places-visit__span-center {
  display: none;
}

.places-visit__country {
  margin-bottom: 102px;
  margin-right: 4.6vw;
  position: relative;

  &--greece,
  &--albania,
  &--macedonia,
  &--montenegro,
  &--croatia {
    background-size: cover;
    min-height: 430px;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: $blue;
  }

  @media (max-width: $tablet) {
    margin-bottom: 102px;
    margin-right: 0;

    &--greece,
    &--albania,
    &--macedonia,
    &--montenegro,
    &--croatia {
      min-height: 425px;
      background-position: center center;
      background-repeat: no-repeat;
      box-sizing: border-box;
    }
  }

  @media (max-width: $mobile) {
    margin: 35px auto 0;
  }

  &:hover,
  &:active {
    .places-visit__span-center {
      position: absolute;
      display: block;
      top: 35%;
      left: 12%;
      right: 13%;
      padding: 30px 20px;
      border: 1px solid $white;
      color: $white;
      font-size: 14px;
      line-height: 17px;
      width: 266px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.places-visit__country:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.places-visit__list {
  padding-left: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 64px;

  @media (max-width: $tablet) {
    padding-top: 40px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.places-visit__caption {
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.25px;
  position: relative;
  margin: 0;
  width: 18.6vw;
  padding-left: 20px;

  &::before {
    content: "";
    width: 11.9vw;
    height: 4px;
    background-color: $basic-orange;
    position: absolute;
    z-index: 2;
    top: 164px;
  }

  @media (max-width: $tablet) {
    font-size: 30px;
    line-height: 45px;
    margin: 0 auto;
    width: 100%;

    &::before {
      display: none;
    }
  }
}

.places-visit__block {
  color: $place-text-grey;
  width: 18.6vw;

  @media (max-width: $tablet) {
    margin: 0 auto;
    width: 44.7vw;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.places-visit__img {
  width: 100%;
}

.places-visit__link {
  @media (max-width: $tablet) {
    margin-right: 10px;
    display: block;
  }

  @media (max-width: $mobile) {
    width: 288px;
    margin: 0 auto;
  }
}
