.question {
  margin-top: 138px;
  margin-left: 20.2vw;
  background-image: url("../img/form-sunset-desktop.jpg");
  background-repeat: no-repeat;
  min-height: 454px;
  margin-bottom: 170px;
  position: relative;
  width: 844px;
  background-size: 844px 445px;
  background-color: #814842;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/form-sunset-desktop@2x.jpg");
  }

  @media (max-width: $tablet) {
    margin-right: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 122px;
    background-image: url("../img/form-sunset-tablet.jpg");
    background-size: 844px 554px;
    margin-bottom: 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/form-sunset-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile) {
    background: none;
  }
}

.question__form {
  padding: 44px 48px 48px 50px;
  background-color: $white;
  width: 34vw;
  align-self: end;
  box-shadow: 0 4px 30px $box-shadow-question;
  position: absolute;
  top: 15%;
  left: 26.7vw;

  @media (max-width: $tablet) {
    width: 85.7vw;
    left: 7%;
    padding: 44px 48px 50px 50px;
  }

  @media (max-width: $mobile) {
    width: 100vw;
    margin: 0 auto;
    left: 0;
    top: 0;
    box-shadow: none;
    background-color: $background-modal;
    padding-left: 0;
    padding-right: 0;
  }
}

.question-window__legend {
  text-align: center;
  font-size: 23px;
  line-height: 42px;
  font-weight: 600;
  padding-bottom: 9px;
}

.question-window__block {
  margin: 0;
  text-align: center;
  padding-bottom: 28px;
}

.question-window__input {
  padding: 15px 2.8vw 15px 2.6vw;
  border: 1px solid $border-grey;

  &::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: $black-list;
    background-color: $white;
  }

  &--email {
    padding-left: 0.8vw;
    padding-right: 2.6vw;
  }

  &:focus:invalid {
    border: 2px solid #ff8282;
  }

  @media (max-width: $tablet) {
    padding-left: 6.8vw;
    padding-right: 6.5vw;
    padding-top: 17px;
    padding-bottom: 17px;

    &--email {
      padding-left: 2vw;
      padding-right: 11vw;
    }

    &::placeholder {
      font-size: 15px;
    }
  }

  @media (max-width: $mobile) {
    padding-left: 2vw;
    padding-right: 11vw;
  }
}

.question-window__fieldset {
  padding-bottom: 25px;
  width: 14vw;

  @media (max-width: $tablet) {
    padding-bottom: 19px;
  }

  @media (max-width: $mobile) {
    width: 90vw;
    margin: 0 auto;
  }
}

.question-window__imgs {
  position: absolute;
  top: 0;
  left: 17px;
  z-index: 1;
}

.question-window__phone {
  position: relative;
  width: 269px;
}

.question-window__seven {
  padding-top: 8px;
}

.question-window__button {
  padding: 18px 40px;
  margin: 0 auto;
  display: block;

  @media (max-width: $tablet) {
    padding-left: 79px;
    padding-right: 79px;
  }

  @media (max-width: $mobile) {
    width: 90vw;
  }
}

.question-window__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
