/* Общие стили. Каркас
   ========================================================================== */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

*,
*::before,
*::after {
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box-component {
  // -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: $Montserrat;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
