$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//@media (max-width: $desktop)
//@media   (max-width: $tablet)
//@media (max-width: $mobile)

$extra-dark: #141517;
$dark: #2c2e3f;
$basic-orange: #fe7865;
$orange: #f17d4b;
$basic-white: #e5e5e5;
$white: #ffffff;
$blue: #8fafdc;
$white-background: #f8f8f8;
$black-list: #48494d;
$border-grey: #d7d9df;
$footer-text: rgba(20, 21, 23, 0.5);
$place-text-grey: rgba(44, 46, 63, 0.7);
$place-text-grey-3: rgba(44, 46, 63, 0.3);
$background-modal: #fbf8f8;
$box-shadow-question: rgba(41, 54, 66, 0.1);

$Montserrat: "Montserrat", "Verdana", sans-serif;
